basemap==1.4.0
basemap_data==1.3.2
country_converter==1.1.1
dirsync==2.2.5
dispy==4.15.2
geopy==2.4.1
matplotlib==3.8.4
matplotlib==3.5.1
networkx==3.3
numpy==1.22.0
pandas==1.4.1
paramiko==2.11.0
paramiko==2.9.3
PyGreSQL==5.2.5
python_magic==0.4.24
PyYAML==5.4.1
PyYAML==6.0.2
Requests==2.32.3
scandir==1.10.0
scikit_learn==1.4.2
scipy==1.8.0
setuptools==59.6.0
simplejson==3.17.6
simplekml==1.3.1
tqdm==4.66.5
usgs_libcomcat==2.1.6
xmltodict==0.13.0
