[postgres]
# information to connect to the database (self explanatory)
hostname = 192.168.1.119
username = postgres
password = 
database = gnss_data

# valid keys for brdc and sp3 tanks
# $year, $doy, $month, $day, $gpsweek, $gpswkday
#
[archive]
# absolute location of the rinex tank
path = /Users/gomez.124/mounts/qnap/ign/archive
repository = /Users/gomez.124/mounts/qnap/ign/repository

# parallel execution of certain tasks
parallel = True
cpus = 4

# absolute location of the broadcast orbits
brdc = /Users/gomez.124/mounts/qnap/igs/brdc/$year

# absolute location of the sp3 orbits
sp3 = /Users/gomez.124/mounts/qnap/igs/orbits/$gpsweek

# orbit center type precedence:
#  type_1 has precedence over type_2. If type_1 is found, search is over
#  if type_1 is not found, then algorithm searches for type_2
#  up to 3 types allowed
#  If PPP fails to process using either type, then it will try with altr_1,2,etc
sp3_type_1 = ig2
sp3_type_2 = igs
sp3_type_3 = igr
sp3_altr_1 = jp2
sp3_altr_2 = jpl

[otl]
# location of grdtab to compute OTL
grdtab = /Users/gomez.124/gamit/gamit/bin/grdtab
# location of the grid to be used by grdtab
otlgrid = /Users/gomez.124/gamit/tables/otl.grid

[ppp]
ppp_path = /Users/gomez.124/PPP_NRCAN
ppp_exe = /Users/gomez.124/PPP_NRCAN/source/ppp34613
institution = The Ohio State University
#institution = Instituto Geografico Nacional
info = —-
#info = Av. Cabildo 381 CABA C1426AAD, Buenos Aires, Argentina (dgomez@ign.gob.ar)
atx = /Users/gomez.124/PPP_NRCAN/igs08_1930.atx
