[gamit]
# GAMIT PROCESSING PARAM FILES
process_defaults = /Users/gomez.124/mounts/qnap/ign/procesamientos/resources/process.defaults
sestbl       	 = /Users/gomez.124/mounts/qnap/ign/procesamientos/resources/sestbl.
atx		 = /Users/gomez.124/mounts/qnap/ign/procesamientos/resources/igs08_1930_plus.atx

# RESOURCES FOLDERS
working_dir 	 = /home/demian/procs
#working_dir 	 = /Users/gomez.124/mounts/qnap/ign/procesamientos/gamit

# GAMIT CONFIGURATION INFORMATION
expt_type  = baseline
expt       = rmsc
org        = IGN
noftp      = yes
eop_type   = usno

# MAXIMUM NUMBER OF CORES TO USE FOR THIS PROCESSING
max_cores = 12

[network]
network_id = IGS-SIRGAS

stn_core = antc,areq,braz,brmu,buen,cata,chac,chpi,copo,cord,coyq,cucu,falk,glps,guat,imbt,ispa,koug,kour,lpgs,mana,mgue,mtv1,naus,ohi2,palm,parc,pove,ppte,recf,rio2,riog,rwsn,scrz,scub,unsa,vbca,vesl,ycba,cro1,bogt,eisl,iqqe,asc1,fort

stn_list = 25ma,alum,autf,bcar,bue1,cfag,coca,csj1,cslo,dore,esqu,epsf,etsj,guay,igm0,igm1,lhcl,mbio,meco,mzae,mzau,nesa,pdes,pde2,pde3,peba,pejo,reco,rio4,rufi,suar,svic,tero,tilc,tuc1,tucu,ucor,uymo,uysa,valp,vill,3aro,abra,azul,bch1,bche,chlt,chma,dino,ebyp,fede,grls,gvil,jbal,ma01,ma02,mpla,mpl2,mzac,mzas,mzrf,mzsr,ngaq,paco,pata,prna,sant,sbal,sih1,sl01,sprz,srlp,tava,trnc,unpa,unro,unsj,uypa,uyso,uytd,vima,yema,aggo,borc,byns,caep,chim,choy,fosa,ggua,jchl,jvgo,larj,mzal,mzar,mzga,nuga,oafa,prcv,rasf,rode,rsal,rscl,sais,sury,uyco,uyta,zpla

[Archive]
gnss_data = gnss_data.cfg
