[gamit]
# GAMIT PROCESSING PARAM FILES
process_defaults = /Users/gomez.124/mounts/qnap/ign/procesamientos/resources/process.defaults
sestbl       	 = /Users/gomez.124/mounts/qnap/ign/procesamientos/resources/sestbl.
atx		 = /Users/gomez.124/mounts/qnap/ign/procesamientos/resources/igs08_1930_plus.atx

# RESOURCES FOLDERS
working_dir 	 = /home/demian/procs
#working_dir 	 = /Users/gomez.124/mounts/qnap/ign/procesamientos/gamit

# GAMIT CONFIGURATION INFORMATION
expt_type  = baseline
expt       = rmsc
org        = IGN
noftp      = yes
eop_type   = usno

# MAXIMUM NUMBER OF CORES TO USE FOR THIS PROCESSING
max_cores = 12

[network]
network_id = IGS-SIRGAS

stn_list = rms.all,sir.all,cap.all,igs.braz,igs.goug,igs.qui1,igs.pur3

[Archive]
gnss_data = gnss_data.cfg
